/*
    0-600px: phone
    600:900px; tablet
    900-1200px; tablet landscape
    [1200-1800] is where normal styles apply
    1800px+: big desktop

$breakpoing arguement choices:
- phone
-tab-port
-tab-land
big-desktop
*/
.moveInLeftElement {
  animation: moveInLeft 2s;
  animation-timing-function: ease-in-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-180px); }
  50% {
    opacity: .5; }
  80% {
    opacity: .8;
    transform: translateX(5px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  50% {
    opacity: .5; }
  80% {
    opacity: .8;
    transform: translateX(-5px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  85% {
    opacity: .85; }
  100% {
    opacity: 1; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@media (min-width: 1800px) {
  body {
    width: 75vw;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #FFFFFF; } }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

.vh-75 {
  height: 75vh; }

.bg-offwhite {
  background-color: #fafafa; }

.bg-dark-fade {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-fixed {
  background-attachment: fixed; }

.text-shadow-black {
  text-shadow: 3px 3px 3px #000000; }

.text-shadow-black-inverse {
  text-shadow: 3px -3px 3px #000000; }

.display-5 {
  font-size: 3em;
  font-weight: 300; }

.display-6 {
  font-size: 2em;
  font-weight: 300; }

.heading-white {
  font-size: 3.5rem;
  color: #fafafa; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0d47a1, #263238);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 2.5rem; } }

.subtext {
  font-size: 2rem;
  font-weight: 400;
  color: #263238; }

.subtext-light {
  font-size: 2rem;
  font-weight: 200;
  color: #263238; }

ul li {
  list-style: none;
  font-size: 2rem;
  font-weight: 200;
  display: flex; }

@media (max-width: 600px) {
  .custom_list li {
    line-height: 1;
    margin-bottom: 15px; } }

.custom_list li:before {
  font-family: 'FontAwesome';
  content: "\f192";
  color: #FFFFFF;
  margin-right: 15px;
  display: block; }
  @media (max-width: 600px) {
    .custom_list li:before {
      top: 5px;
      position: relative; } }

.about-blockquote {
  margin: 5%;
  font-size: 1.5rem;
  border-left: solid thin #263238;
  padding-left: 25px;
  text-align: left; }
  @media (max-width: 600px) {
    .about-blockquote {
      text-align: justify;
      border-left: none;
      padding: 0px;
      line-height: 1.2; } }

.footer {
  font-size: .75em; }

.jumbotron {
  background-image: linear-gradient(to right, rgba(13, 71, 161, 0.75), rgba(66, 179, 244, 0.05)), url("../img/jumbotron.jpg");
  background-color: #fafafa;
  /* Used if the image is unavailable */
  min-height: 95vh;
  /* You must set a specified height */
  background-position: top right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  color: #fafafa;
  clip-path: polygon(0 0, 0 100%, 100% 90vh, 100% 0); }
  @media (min-width: 1800px) {
    .jumbotron {
      clip-path: polygon(polygon(0 0, 100% 0, 100% 90%, 0 96%)); } }
  .jumbotron.row {
    height: 100%;
    display: table-row; }
  @media (max-width: 600px) {
    .jumbotron {
      background-image: linear-gradient(to right, rgba(13, 71, 161, 0.75), rgba(66, 179, 244, 0.05)), url("../img/jumbotron_phone.jpg"); } }
  @media (max-width: 900px) {
    .jumbotron {
      background-image: linear-gradient(to right, rgba(13, 71, 161, 0.75), rgba(66, 179, 244, 0.05)), url("../img/jumbotron_tab.jpg"); } }
  @media (max-width: 1200px) {
    .jumbotron {
      background-image: linear-gradient(to right, rgba(13, 71, 161, 0.75), rgba(66, 179, 244, 0.05)), url("../img/jumbotron_tab.jpg"); } }

#jumbtron_button {
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  display: inline-block;
  background-color: #42B3F4;
  position: relative;
  color: #0d47a1;
  transition: all .2s;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out; }
  #jumbtron_button:hover {
    border-color: #fafafa;
    background-color: #1366e8;
    color: #FFFFFF;
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); }

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding-left: 5%;
  padding-right: 5%; }

#contactModal .modal-content form {
  padding-right: 15px; }
  #contactModal .modal-content form input, #contactModal .modal-content form text-input {
    width: 100%; }
  #contactModal .modal-content form textarea {
    width: 100%; }

#heading {
  animation: moveInLeft 2s;
  animation-timing-function: ease-in-out;
  font-size: 5em; }
  @media (max-width: 600px) {
    #heading {
      font-size: 2.75rem; } }
  #heading_sub {
    padding-top: 5%;
    padding-bottom: 15%;
    font-size: 3em;
    font-weight: 200;
    color: #fafafa;
    animation: moveInRight 2s;
    animation-timing-function: ease-in-out; }
    @media (max-width: 600px) {
      #heading_sub {
        font-size: 2.5rem; } }
  @media (max-width: 900px) {
    #heading {
      font-size: 4rem; } }
  @media (max-width: 1200px) {
    #heading {
      font-size: 4rem; } }
  @media (min-width: 1800px) {
    #heading {
      font-size: 5rem; } }

.section-what-we-do {
  display: flex;
  background-color: #fafafa;
  clip-path: polygon(0 0, 0 100%, 100% 90vh, 100% 0);
  height: 85vh; }
  @media (min-width: 1800px) {
    .section-what-we-do {
      clip-path: polygon(polygon(0 0, 100% 0, 100% 90%, 0 96%)); } }
  @media (max-width: 600px) {
    .section-what-we-do {
      clip-path: none;
      height: 100%;
      margin-top: 5vh;
      background-color: #FFFFFF; } }
  @media (max-width: 1200px) {
    .section-what-we-do {
      height: 75vh; } }
  @media (min-width: 1800px) {
    .section-what-we-do {
      height: 65vh; } }
  .section-what-we-do .subtext {
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 20px; }
    @media (max-width: 900px) {
      .section-what-we-do .subtext {
        font-size: 2rem; } }
    @media (max-width: 1200px) {
      .section-what-we-do .subtext {
        font-size: 2rem; } }

#in-building-services img {
  height: 75px;
  width: auto; }
  @media (max-width: 600px) {
    #in-building-services img {
      height: 50px; } }

.projects .row {
  margin-bottom: 5%; }

.projects p-5 {
  padding-top: 5%; }

.clients {
  margin-top: 100px; }
  .clients .das-head-end-image {
    background: url("../img/das-head-end-project.jpg");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-size: contain;
    background-repeat: no-repeat;
    /* Do not repeat the image */ }
  .clients .clients-side-image {
    background: url("../img/clients.jpg");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    color: #fafafa; }

s
#contactWMS i {
  font-size: medium; }

.certifications {
  background-image: linear-gradient(to right, #4285F4, #0d47a1); }

#down-arrow {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari prior 9.0 */
  transform: rotate(90deg);
  /* Standard syntax */ }

.bg-project-design {
  background-image: linear-gradient(to right, rgba(38, 50, 56, 0.75), rgba(66, 133, 244, 0.75)), url("../img/project_design.jpg"); }
  @media (max-width: 600px) {
    .bg-project-design div p {
      line-height: 1; } }
  @media (max-width: 600px) {
    .bg-project-design div p.subtext-light {
      line-height: 1.2; } }
  @media (max-width: 600px) and (max-width: 600px) {
    .bg-project-design div p.subtext-light {
      font-size: 1.75rem;
      line-height: 1.2; } }

.bg-project-management {
  background-image: linear-gradient(to left, rgba(38, 50, 56, 0.75), rgba(66, 133, 244, 0.75)), url("../img/project_mgmt.jpg"); }
  @media (max-width: 600px) {
    .bg-project-management div p {
      line-height: 1.2; } }
  @media (max-width: 600px) {
    .bg-project-management div p.subtext-light {
      line-height: 1.2;
      font-size: 1.75rem; } }

.bg-construction {
  background-image: linear-gradient(to right, rgba(38, 50, 56, 0.75), rgba(66, 133, 244, 0.75)), url("../img/construction.jpg"); }
  @media (max-width: 600px) {
    .bg-construction div p {
      line-height: 1.2; } }
  @media (max-width: 600px) {
    .bg-construction div p.subtext-light {
      line-height: 1.2; } }
  @media (max-width: 600px) {
    .bg-construction .heading-white {
      font-size: 3rem;
      line-height: .95; } }

@media (max-width: 600px) {
  #DASOEMFamiliarity h1 {
    line-height: 1; } }

.profile {
  height: 200px;
  width: auto;
  border-style: solid;
  border-width: 3px;
  border-radius: 100px; }
  @media (max-width: 600px) {
    .profile {
      margin-top: 25px; } }

.img-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 900px) {
    .img-layout {
      flex-direction: row; } }
  @media (max-width: 1200px) {
    .img-layout {
      flex-direction: row; } }
  @media (max-width: 600px) {
    .img-layout {
      flex-direction: row; } }

@media (max-width: 600px) {
  .project {
    padding-bottom: 25px; } }

.response-only-phone {
  display: none;
  width: 100%; }
  @media (max-width: 600px) {
    .response-only-phone {
      display: block; } }
  @media (max-width: 900px) {
    .response-only-phone {
      display: block; } }

.response-not-phone {
  display: block; }
  @media (max-width: 600px) {
    .response-not-phone {
      display: none; } }
  @media (max-width: 900px) {
    .response-not-phone {
      display: none; } }

#DASOEMFamiliarity h1 {
  font-size: 4.5rem; }
  @media (max-width: 600px) {
    #DASOEMFamiliarity h1 {
      font-size: 3.5rem;
      font-weight: 400;
      text-shadow: 1px 1px 3px rgba(66, 133, 244, 0.5); } }

.hidden-left {
  opacity: 0; }

.hidden-right {
  opacity: 0; }

.bottom-right {
  text-align: right;
  margin-top: -17vh;
  margin-right: 10px;
  margin-bottom: 20px; }

#email {
  text-decoration: none; }

.thumb-150 {
  height: auto;
  width: 150px; }
  @media (max-width: 600px) {
    .thumb-150 {
      width: 75px; } }

.thumb-100 {
  height: auto;
  width: 100px; }
  @media (max-width: 600px) {
    .thumb-100 {
      width: 50px; } }

.thumb-75 {
  height: auto;
  width: 75px; }

.thumb-50 {
  height: auto;
  width: 50px; }

.pics {
  margin: 20px; }

.flex-direction {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media (max-width: 600px) {
    .flex-direction {
      flex-direction: col; } }
